<%= form_for(@marker) do |f| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @unspecified_locations %>
  <div class="field">
   <%= f.label :label %><br>
   <%= f.select :label, @unspecified_locations %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :label %>: 
    <b><%= @marker[:label] %></b>
  <% end %>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit "Set Marker Position" %>
  </div>
<% end %>
