<h1><%= @photographer.name %></h1>
<div class='contact'>
<table>
<tr>
<td>i:</td><td><%= link_to @photographer.istock_name, "http://www.istockphoto.com/user_view.php?id="+@photographer.istock_userid.to_s, :title => 'iStock user page', :target => 'focalhero_external' %></td>
</tr>
<% website=@photographer.website; if website && website.length>0 then %>
<%   url=website.starts_with?('http') ? website : 'http://'+website %>
<tr>
<td>w:</td><td>
<%= link_to website, url, :title=>t(:personal_website_tooltip), :target => 'focalhero_external' %>
</td>
</tr>
<% end %>
<tr>
<td>e:</td><td><%= @photographer.email %></td>
</tr>
<% phone=@photographer.phone; if phone &&  phone.length>0 then %>
<tr>
<td>t:</td><td>
<%= phone %>
</td>
</tr>
<% end %>
</table>
<%= link_to t(:istock_portfolio), "http://www.istockphoto.com/search/portfolio/"+@photographer.istock_userid.to_s, :target => 'focalhero_external' %>
</div>
<h2><%= @photographer.city+', '+@photographer.country %></h2>
<div class='entry'>
<%= image_tag @photographer.avatar.url(:thumb), class: 'avatar' %>
<div class='description'><%= sanitize(@photographer.description) %></div>
</div>
<% @lbs.each do |lb| %>
<div style='height:230px;' class='lightbox'>
<div class='lb_name'><%= lb.name %><span class='totalitems'></span></div>
<section class='lbthumb_container cell1'>
<img data-lightboxid='<%= lb.istockid %>' class='lb_image example_image' src='http://i.istockimg.com/file_thumbview_approve/<%= lb.exampleimage %>/3/stock-photo-<%= lb.exampleimage %>-.jpg' />
</section>
<section class='lbthumb_container cell2'>
<img src='/assets/filmstrip-35mm.gif' alt='loading' title='loading' style='margin-top:20px;' />
</section>
<section class='lbthumb_container cell3'></section>
<section class='lbthumb_container cell4'></section>
<a href='http://www.istockphoto.com/search/lightbox/<%= lb.istockid %>/' target='focalhero_external'>
<section><button class='collection'><%= sanitize(t :lightbox_button_label) %></button></section>
</a>
</div>
<% end %>
<script>
function activate() {
  var me=$(this);
  me.addClass("active");
}
function deactivate() {
  var me=$(this);
  me.removeClass("active");
}
function updateLightbox(divEl,cellNo,images,pointer,slow) {
  slow = cellNo==3?true:slow;
  if (images.length>0) {
    var imgNo=images[pointer%images.length];
    var target=$(".cell"+(cellNo%4+1),divEl);
    if ($("img",target).hasClass("active")) {
      cellNo+=1;
      target=$(".cell"+((cellNo)%4+1),divEl);
    }      
    var fn=function(){
      var img=$("<img class='lb_image' src='http://i.istockimg.com/file_thumbview_approve/"+imgNo+"/3/stock-photo-"+imgNo+"-.jpg' />");
      img.hover(activate,deactivate);
      var link=$("<a href='http://www.istockphoto.com/stock-photo-"+imgNo+"-.php' target='focalhero_external'>");
      link.html(img.fadeIn(200));
      target.html(link);
    };
    var targetImg=target.find("img");
    if (targetImg.length>0) {
      targetImg.fadeOut(200,fn);
    } else {
      fn();
    }
    window.setTimeout(function(){updateLightbox(divEl,cellNo+1,images,pointer+1,slow);}, slow?5000:200);
  }
}
$(document).ready( function() {
 $("div.lightbox").each( function() {
  var target=$(this);
  var me=$("img.example_image",target);
  var lbid=me.data('lightboxid');
  $.ajax({
    url: "/client/istocklightbox/"+lbid
  }).done(function(data) {
    $("span.totalitems",target).text(" ("+data.totalitems+" images)");
    updateLightbox(target,0,data.images,0,false);
  });
 });
});
</script>
<%= google_analytics_code %>
