<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Paprika|Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>British Stock</title>
  <% if content_for? :for_locationmaps_head %>
    <%= yield :for_locationmaps_head %>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if content_for? :for_location_head %>
    <%= yield :for_location_head %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
 <% if @logged_in_as %>
    <div id='loggedin'>
      <div id='who'>Signed in as <%= @logged_in_as %>
        <%= button_to 'Sign out', logout_path, method: :delete %>
      </div>
    </div>
 <% end %>
 <div id='banner'>
  <%= image_tag('focalhero-logo1.png')  %>
  <div class='upper_heading'><%= 'FOCALHERO' %> </div>
  <div class='lower_heading'><%= 'British Stock Photography' %> </div>
  <div style='margin-top: 1em; font-size:35%; font-style:italic;'><div>Location photography by local photographers</div>
<div>Available royalty-free from iStock</div>
  </div>
 </div>
 <div id='columns'>
  <div id='side'>
   <ul>
    <li><a href='/location/' data-no-turbolink='true'>Locations</a></li>
    <li><a href='/client/index'>Photographers</a></li>
 <% if @logged_in_as %>
    <li><a href='/photographers/'>Edit Photogs</a></li>
    <li><a href='/lightboxes/'>Edit Lightboxes</a></li>
    <li><a href='/markers/'>Edit Markers</a></li>
 <% end %>
   </ul>
   <ul class='secondary'>
    <li><a href='/about/'>About Us</a></li>
    <li><a href='/privacypolicy/'>Privacy Policy</a></li>
    <li><a href='/useragreement/'>User Agreement</a></li>
 <%
#   <li><a href='/faq/'>FAQ</a></li>
#    <li><a href='/help/'>Help</a></li>
 %>
    <li><a href='/contact/'>Contact Us</a></li>
   </ul>
  </div>
  <div id='main'>
   <%= yield %>
  </div>
 </div>

<footer><div>This website is copyright ©2014 Martin McCarthy, Dave White, Roger Whiteway. iStockphoto®, iStock® are trademarks of iStockphoto LP. Lightbox thumbnail images are the property of the various artists contributing to this website.</div></footer>
  <% if content_for? :for_locationmaps_body %>
    <%= yield :for_locationmaps_body %>
  <% end %>
  <% if content_for? :for_admin %>
    <%= yield :for_admin %>
  <% end %>
</body>
</html>
