<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Paprika|Spinnaker&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>British Stock</title>
  <% if content_for? :for_locationmaps_head %>
    <%= yield :for_locationmaps_head %>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if content_for? :for_location_head %>
    <%= yield :for_location_head %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
 <div id='banner'>
  <%= image_tag('britstock-logo1.png') %>
  <%= @page_title || 'British Stock Photography' %>
  <div style='clear:left; font-size:35%; font-style:italic;'><div>Location photography by local photographers</div>
<div>Available royalty-free from iStock</div>
  </div>
 </div>
 <div id='columns'>
  <div id='side'>
   <ul>
    <li><a href='/BritStock/location/' data-no-turbolink='true'>Locations</a></li>
    <li><a href='/BritStock/client/index'>Photographers</a></li>
    <li><a href='/BritStock/photographers/'>Edit Photogs</a></li>
    <li><a href='/BritStock/lightboxes/'>Edit Lightboxes</a></li>
   </ul>
  </div>
  <div id='main'>
   <%= yield %>
  </div>
 </div>

  <% if content_for? :for_locationmaps_body %>
    <%= yield :for_locationmaps_body %>
  <% end %>
</body>
</html>
