<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Paprika|Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title><%= t :global_web_title %></title>
  <% if content_for? :for_locationmaps_head %>
    <%= yield :for_locationmaps_head %>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if content_for? :for_location_head %>
    <%= yield :for_location_head %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
 <% if @logged_in_as %>
    <div id='loggedin'>
      <div id='who'><%= t :signed_in_as %> <%= @logged_in_as %>
        <%= button_to t(:sign_out), logout_path, method: :delete %>
      </div>
    </div>
 <% end %>
 <div id='banner'>
  <%= image_tag('focalhero-logo1.png')  %>
  <div class='upper_heading'><%= t :global_title %> </div>
  <div class='lower_heading'><%= t :global_subtitle %> </div>
  <div style='margin-top: 1em; font-size:35%; font-style:italic;'><div><%= t :global_tagline_1 %></div>
<div><%= t :global_tagline_2 %></div>
  </div>
 </div>
 <div id='columns'>
  <div id='side'>
   <ul>
    <li><a href='/location/' data-no-turbolink='true'><%= t :locations %></a></li>
    <li><a href='/client/index'><%= t :photographers %></a></li>
 <% if @logged_in_as %>
    <li><a href='/photographers/'><%= t :edit_photographers %></a></li>
    <li><a href='/lightboxes/'><%= t :edit_lightboxes %></a></li>
    <li><a href='/markers/'><%= :edit_markers %></a></li>
 <% end %>
   </ul>
   <ul class='secondary'>
    <li><a href='/about/'><%= t :about_us %></a></li>
    <li><a href='/privacypolicy/'><%= t :privacy_policy %></a></li>
    <li><a href='/useragreement/'><%= t :user_agreement %></a></li>
 <%
#   <li><a href='/faq/'>FAQ</a></li>
#    <li><a href='/help/'>Help</a></li>
 %>
    <li><a href='/contact/'><%= t :contact_us %></a></li>
    <li><a href='/application/'><%= t :apply_to_join %></a></li>
   </ul>
  </div>
  <div id='main'>
   <%= yield %>
  </div>
 </div>

<footer><div><%= t :global_copyright %></div></footer>
  <% if content_for? :for_locationmaps_body %>
    <%= yield :for_locationmaps_body %>
  <% end %>
  <% if content_for? :for_admin %>
    <%= yield :for_admin %>
  <% end %>
</body>
</html>
